@font-face {
  font-family: myFont;
  src: url(../fonts/font.woff2);
}


#preview-container {
    margin: 50px auto;
    width: 600px;
}

#upload-dialog {
    padding: 5px;
    border: 1px solid #336699;
    background-color: white;
    color: #336699;
    background: none;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
}

#pdf-file {
    display: none;
}

#pdf-loader {
	display: none;
	vertical-align: middle;
	color: #cccccc;
    font-size: 12px;
}

#pdf-preview {
    display: none;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
}

#pdf-name {
    display: none;
    vertical-align: middle;
    color: #336699;
    margin: 0 15px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#upload-button {
    padding: 5px;
    border: 1px solid #336699;
    background-color: #336699;
    color: white;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    display: none;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
}

#cancel-pdf {
    display: none;
    vertical-align: middle;
    padding: 0px;
    border: none;
    color: #777777;
    background-color: white;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 0 0 15px;
}

body{
font-family: myfont;
}

/* Header Start */
 
.header{

    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  
  
  #title{
    
        align-self: center;
        padding-left: 10px;
  } 
  
  #Account{
  
    height: 100px;
    width:100px
  }
  
  
  .account{
  
  height: 50px;
  width: 120px;
  
  align-self:center;
  background: transparent;
  border: 2px solid lightgray;
  color: #2f73d8;
  border-radius: 5px;
  }
  
  .SubmitAD{
  
    height: 50px;
    width: 120px;
    
    align-self:center;
    background: transparent;
    border: 2px solid lightgray;
    color: #ff8300;
    border-radius: 5px;
  
  
  }
  
  #SignInTitle{
    text-align: center;
}
  /* Header End */



  

hr {
    border: 1px solid #c2040400;
    margin-bottom: 25px;
  }
  
  #welcomeName{

    
    display: none;
  }

  .AdFormMain{

    background-color:#e69035;
    opacity: 0.9;
    padding: 50px;
  }

  #title2{
      margin-left: 70px;
  }



#AdDescriptionTextArea{
  margin-left: 20px;
box-shadow: 0 2px 0 #e6e6e6;
height: 40px;
padding-left: 10px;
width: 650px;
height: 200px;  
}
#e{

    color: red;
    font-size: 22px;
    display: none;
}

#er{

    color: red;
    font-size: 22px;
    display: none;
}

#err{

    color: red;
    font-size: 22px;
    display: none;
}

#erro{

    color: red;
    font-size: 22px;
    display: none;
}
#error{

    color: red;
    font-size: 22px;
    display: none;
}
#arror{

    color: red;
    font-size: 22px;
    display: none;
}




/* Loader */
.loader {
  background: none repeat scroll 0 0 rgb(252, 252, 252);
  position: fixed;
 
  opacity: 0.5;
  z-index: 1000001; 
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
      
  }
  
  .loader img {
  position: absolute;
  top: 100%;
  left: 50%;
  margin: -500px 0px 0px -100px;
  width: 200px;
  
  }
/* Loader */